* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 98%;
}

.title {
  display: flex;
  flex-direction: row-reverse;
}

body > header {
  height: 12%;
  width: 98.3%;
  background-color: #e24510;
  color: #faebd7;
  border: solid 2px black;
  margin-right: 1em;
  margin-top: 1em;
  margin-left: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

main {
  height: 89%;
  display: flex;
  flex-direction: row;
}

nav {
  border: solid 2px black;
  margin: 1em;
  line-height: 3em;
}

main > article {
  height: 96%;
  background-color: #f9f6f4;
  flex-grow: 1;
  width: 30em;

  border: solid 2px black;
  margin: 1em;
  overflow: scroll;
  min-width: 500px;
}

main > section {
  width: 100%;
  height: 96%;
  display: flex;
  align-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(250, 235, 215);
  margin: 1em;
  border: solid 2px black;
}

main > aside {
  background-color: #faebd7;
  width: 20em;
  height: 96%;

  border: solid 2px black;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

header > h1 {
  text-align: right;
  padding-right: 1em;
}

body > footer {
  width: 100%;
  height: 10%;
  background-color: #171717;
  color: #faebd7;
}

.tile {
  display: flex;
  background-color: rgb(102, 102, 153);
  min-width: 12em;
  /* zorgt ervoor dat er nooit meer dan 4 tegels staan */
  width: 19.8%;
  margin: 0.2em;
  justify-content: center;
  align-items: center;
  flex: auto;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.tile:hover {
  background-color: #979aaa;
}

.aside thead {
  background-color: #c35e4d;
}

.tile:nth-child(3) {
  flex-grow: 2;
  min-width: 24em;
  width: 40%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
}
.aside tr:nth-child(even) {
  background-color: #f4f0ec;
}

thead th {
  border-bottom: 2px solid #dedede;
}

tfoot th {
  border-top: 2px solid #dedede;
}

th,
td {
  text-align: left;
  padding: 0.5em;
}

thead {
  background-color: #c35e4d;
}

.formTable {
  width: 50%;
  border-collapse: collapse;
  border-spacing: 0;
}

.formTable td {
  padding: 0.1em;
}

.navField {
  border: solid 2px black;
  margin: 1em;
  line-height: 3em;
  padding: 2em;
}

.tableField {
  border: solid 2px black;
  border-bottom-width: 3px;
}
.articleField {
  border: solid 2px black;
  margin: 1em;
}
*/ #cIndex {
  float: right;
  margin-top: -4.1%;
}

.navBar {
  display: flex;
  flex-direction: row-reverse;
}

.navItem {
  height: 50px;
  width: 80px;
  flex-direction: row-reverse;
  cursor: pointer;
}

.titelNaam {
  margin-left: 15px;
  float: left;
}

.title {
  float: right;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  text-align: center;
  line-height: 45px;
  background-color: #eeeeee;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}

.container {
  display: inline-block;
  cursor: pointer;
  margin: 1%;
  background-color: #666666;
  padding: 25px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* The side navigation menu */
.sidenav {
  height: 97%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #e24510; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f4f0ec;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #666666;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/* #main {
  transition: margin-left 0.5s;
  padding: 20px;
} */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }

  body {
    font-family: "Lato", sans-serif;
    transition: background-color 0.5s;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e24510;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #666666;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #main {
    transition: margin-left 0.5s;
    padding: 16px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
}
